.app {
    max-width: 860px;
    margin: 0 auto;
    background-color: #fff;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
span,
hr,
li,
ul {
    margin: 0;
    padding: 0;
    color: #020403;
}

h1 {
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
}
h2 {
    font-size: 2rem; /* 32px */
    font-weight: 700;
}
h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600;
}
h4 {
    font-size: 1.25rem; /* 20px */
}
h5 {
    font-size: 1rem; /* 16px */
}
h6 {
    font-size: 0.875rem; /* 14px */
}

@media (max-width: 600px) {
    .app {
        /* padding: 0rem 0.875rem; */
    }
    h1 {
        font-size: 2rem; /* 32px */
    }
    h2 {
        font-size: 1.5rem; /* 24px */
    }
    h3 {
        font-size: 1.25rem; /* 20px */
    }
    h4 {
        font-size: 1rem; /* 16px */
    }
    h5 {
        font-size: 0.875rem; /* 14px */
    }
    h6 {
        font-size: 0.8rem; /* 12px */
    }
}
